/* easy medium */

/* problemset/all */
.td > span.round.label.label-success,
.td > span.round.label.label-warning {
  background-color: #ceff2f;
}

/* on problem page */
.css-10o4wqw > div.css-14oi08n,
.css-10o4wqw > div.css-dcmtd5 {
  color: #ceff2f;
}

/* once solved */
.next-challenge__A4ZV > .M__1OuS,
.next-challenge__A4ZV > .E__2cGj {
  color: #dcff69;
  border-color: #dcff69;
  background-color: lavender;
}

.next-challenge__A4ZV > .H__3Dxi:hover,
.next-challenge__A4ZV > .M__1OuS:hover,
.next-challenge__A4ZV > .E__2cGj:hover {
  color: #ceff2f;
  border-color: #ceff2f;
}

/* medium hard */

/* problemset/all */
.td > span.round.label.label-warning,
.td > span.round.label.label-danger {
  background-color: orangered;
}

/* on problem page */
.css-10o4wqw > div.css-dcmtd5,
.css-10o4wqw > div.css-t42afm {
  color: orangered;
}

/* once solved */
.next-challenge__A4ZV > .H__3Dxi,
.next-challenge__A4ZV > .M__1OuS {
  color: #ff8d63;
  border-color: #ff8d63;
  background-color: lavender;
}

.next-challenge__A4ZV > .H__3Dxi:hover,
.next-challenge__A4ZV > .M__1OuS:hover {
  color: orangered;
  border-color: orangered;
}

/* hide all styles */

/* problemset/all */
.td > span.round.label {
  background-color: purple;
}

/* on problem page */
.css-10o4wqw > div.css-14oi08n,
.css-10o4wqw > div.css-dcmtd5,
.css-10o4wqw > div.css-t42afm {
  color: purple;
}

/* once solved */
.next-challenge__A4ZV > .H__3Dxi,
.next-challenge__A4ZV > .M__1OuS,
.next-challenge__A4ZV > .E__2cGj {
  color: #916c91;
  border-color: #916c91;
  background-color: lavender;
}

.next-challenge__A4ZV > .H__3Dxi:hover,
.next-challenge__A4ZV > .M__1OuS:hover,
.next-challenge__A4ZV > .E__2cGj:hover {
  color: purple;
  border-color: purple;
}
